@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.input-container {
  margin: auto;
}

.input-container .input-box {
  padding: 8px;
  border-radius: 3px;
  width: 30%;
  border: 1px solid grey;
  margin-right: 10px;
}

.input-container .input-box:focus {
  outline: none;
}

.input-container .input-title {
  width: 20%;
}

.input-container .input-desc {
  width: 25%;
}

.input-container .btn-add {
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  color: white;
  background: #ee6f57;
}

.input-container .btn-add:focus {
  outline: none;
}

.input-container .btn-add:hover {
  background: #ec5b40;
}

.todo-list-container {
  margin-top: 2%;
}

.todo-list-container .todo-list {
  position: relative;
  padding: 8px;
  margin: auto;
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-list-container .todo-list li {
  list-style: none;
}

.todo-list-container .todo-list .checked-box-list {
  text-decoration: line-through;
  color: grey;
}

.todo-list-container .todo-list span {
  position: absolute;
  right: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.todo-list-container .todo-list span:hover {
  color: red;
}

.todo-list-container .todo-list span:focus {
  outline: none;
}

.todo-list-container .todo-list .check-box {
  margin-right: 16px;
}

.no-data {
  margin-top: 5%;
  color: grey;
  font-size: 1.2em;
}

.login-form-container {
  max-width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.login-form-container h1 {
  margin-bottom: 10%;
}

.login-form-container .input-container {
  margin-bottom: 24px;
}

.login-form-container button {
  padding: 8px 10px;
  width: 200px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: white;
  background: #ee6f57;
}

.login-form-container button:hover {
  background: #ec5b40;
}

.login-form-container button:focus {
  outline: none;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #145374;
}

.btn-container span {
  position: relative;
  right: 4%;
  color: #f6f5f5;
}

.btn-container .btn {
  position: relative;
  right: 3%;
  margin-left: 10px;
}

.btn-container .btn .btn-signup, .btn-container .btn .btn-logout {
  background: #ee6f57;
  color: white;
}

.btn-container .btn .btn-signup:hover, .btn-container .btn .btn-logout:hover {
  background: #ec5b40;
}

.btn-container .btn .btn-login {
  color: #f6f5f5;
  background: #145374;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn-container .btn .btn-login:hover {
  background: #ee6f57;
}

.btn-container .btn .hide-btn {
  display: none;
}

.btn-container .btn button {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
}

.btn-container .btn button:focus {
  outline: none;
}

.signup-form-container {
  max-width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-form-container h1 {
  margin-bottom: 10%;
}

.signup-form-container .input-container {
  margin-bottom: 24px;
}

.signup-form-container button {
  padding: 8px 10px;
  width: 200px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: white;
  background: #ee6f57;
}

.signup-form-container button:hover {
  background: #ec5b40;
}

.signup-form-container button:focus {
  outline: none;
}

.signup-form-container .err-msg {
  color: red;
  font-size: 12px;
}

.todo {
  text-align: center;
}

.sidebar {
  z-index: 2;
  position: absolute;
  left: 20px;
  font-size: 20px;
}

.sidebar .icon:focus {
  outline: none;
}

.hide-icon {
  display: none;
}

.sidebar-menu {
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #00334e;
  height: 100vh;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  -webkit-transition: 850ms;
  transition: 850ms;
  font-size: 14px;
  left: -100%;
}

.sidebar-menu .sidebar-toggle {
  list-style: none;
  font-size: 20px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-menu .sidebar-toggle .menu-bars {
  margin-right: 16px;
}

.sidebar-menu.active {
  left: 0;
  -webkit-transition: 350ms;
  transition: 350ms;
}

.sidebar-menu-items {
  width: 100%;
}

.sidebar-menu-items .nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.sidebar-menu-items .nav-text a {
  text-decoration: none;
  color: #f6f5f5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  width: 95%;
  height: 100%;
  padding: 0 16px;
}

.sidebar-menu-items .nav-text a:hover {
  background: #145374;
}

.sidebar-menu-items .nav-text a span {
  margin-right: 8px;
}

h1 {
  text-align: center;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60%;
}

.profile-container .profile-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-container .profile-item .form-change-profile {
  width: 21vw;
}

.profile-container .profile-item .form-change-profile h4 {
  text-transform: uppercase;
}

.profile-container .profile-item .form-change-profile .edit-field-container {
  margin-bottom: 12px;
}

.profile-container .profile-item .form-change-profile .edit-field-container label {
  font-size: 12px;
  color: #707070;
}

.profile-container .profile-item .form-change-profile .edit-field-container input {
  border-radius: 2px;
  border: 1px solid lightgrey;
  padding: 8px;
  width: 90%;
}

.profile-container .profile-item .form-change-profile .edit-field-container input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #2AA4B9;
}

.profile-container .profile-item .form-change-profile .btn-update {
  text-transform: uppercase;
  width: 90%;
  padding: 8px;
  border: none;
  background: #ee6f57;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.profile-container .profile-item .form-change-profile .btn-update:hover {
  background: #ec5b40;
}

.profile-container .profile-item .form-change-profile .btn-update:focus {
  outline: none;
}

.change-password-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.change-password-container .change-password-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.change-password-container .change-password-item .form-change-password {
  width: 21vw;
}

.change-password-container .change-password-item .form-change-password h4 {
  text-transform: uppercase;
}

.change-password-container .change-password-item .form-change-password .edit-field-container {
  margin-bottom: 12px;
}

.change-password-container .change-password-item .form-change-password .edit-field-container label {
  font-size: 12px;
  color: #707070;
}

.change-password-container .change-password-item .form-change-password .edit-field-container input {
  border-radius: 2px;
  border: 1px solid lightgrey;
  padding: 8px;
  width: 90%;
}

.change-password-container .change-password-item .form-change-password .edit-field-container input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #2AA4B9;
}

.change-password-container .change-password-item .form-change-password .btn-change-password {
  text-transform: uppercase;
  width: 98%;
  padding: 8px;
  border: none;
  background: #ee6f57;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.change-password-container .change-password-item .form-change-password .btn-change-password:hover {
  background: #ec5b40;
}

.change-password-container .change-password-item .form-change-password .btn-change-password:focus {
  outline: none;
}

.shop-container .shop-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30%)[4];
      grid-template-columns: repeat(4, 30%);
  border: 1px solid black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  padding: 0;
}

.App {
  height: 100vh;
}

.App h1 {
  color: #1B2432;
}
/*# sourceMappingURL=App.css.map */