@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import './SCSS/config';
@import './SCSS/inputField';
@import './SCSS/todoList';
@import './SCSS/loginPage';
@import './SCSS/buttonLoginSignUp';
@import './SCSS/signUpPage';
@import './SCSS/todo';
@import './SCSS/sideBar';
@import './SCSS/dashboard';
@import './SCSS/profile';
@import './SCSS/change_password';
@import './SCSS/shop';

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    padding: 0;
}

.App {
    // border: 1px solid red;
    // text-align: center;
    height: 100vh;

    h1 {
        color: $almost-black-color;
    }
}