@mixin inputStyle {
    padding: 8px;
    border-radius: 3px;
}

.input-container {
    margin: auto;
    // border: 1px solid black;
    .input-box {
        @include inputStyle;
        width: 30%; 
        border: 1px solid grey;
        margin-right: 10px;

        &:focus {
            outline: none;
        }
    }

    .input-title {
        width: 20%;
    }

    .input-desc {
        width: 25%;
    }

    .btn-add {
        @include inputStyle;
        cursor: pointer;
        border: none;
        color: white;
        background: #ee6f57;

        &:focus {
            outline: none;
        }

        &:hover {
            background: darken(#ee6f57, 5%);
        }
    }
}