.login-form-container {
    // border: 1px solid black;
    max-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    h1 {
        margin-bottom: 10%;
    }

    .input-container {
        margin-bottom: 24px;
    }

    button {
        padding: 8px 10px;
        width: 200px;
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        color: white;
        background: #ee6f57;

        &:hover {
            background: darken(#ee6f57, 5%);
        }

        &:focus {
            outline: none;
        }
    }
}