@mixin sidebar-styling($left) {
  z-index: 2;
  position: absolute;
  left: $left;
}

.sidebar {
  @include sidebar-styling(20px);
  font-size: 20px;

  .icon:focus {
    outline: none;
  }
}

.hide-icon {
  display: none;
}

.sidebar-menu {
  @include sidebar-styling(0px);
  top: 0px;
  background: #00334e;
  height: 100vh;
  width: 240px;
  display: flex;
  justify-content: center;
  position: fixed;
  transition: 850ms;
  font-size: 14px;
  left: -100%;

  .sidebar-toggle {
    list-style: none;
    font-size: 20px;
    height: 60px;
    // border: 1px solid white;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .menu-bars {
      margin-right: 16px;
      // border: 1px solid white;
    }
  }
}

.sidebar-menu.active {
  left: 0;
  transition: 350ms;
}

.sidebar-menu-items {
  width: 100%;
  // border: 1px solid white;

  .welcome-user {
    padding: 8px 0px 8px 16px;
    // border: 1px solid wheat;
    color: white;
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .balance-user {
    padding: 0px 0px 8px 28px;
    // border: 1px solid orange;
    color: white;
    height: 50px;
    display: flex;
    // align-items: center;

    span {
      // border: 1px solid white;
      margin-right: 5px;
      // font-size: 16px;
    }
  }

  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 55px;
    // border: 1px solid red;

    a {
      text-decoration: none;
      color: #f6f5f5;
      align-items: center;
      display: flex;
      // border: 1px solid red;
      border-radius: 4px;
      width: 95%;
      height: 100%;
      padding: 0 16px;

      &:hover {
        background: #145374;
      }

      span {
        margin-right: 8px;
      }
    }
  }
}
